@model Jbs.Yukari.Core.Models.BasicInfo
@{
    Layout = "_Layout";
}
<form method="post">
    <div class="container">
        @{
            var result = ViewData["Result"]?.ToString();
            var tabSource = Model.TabIndex != "objects" ? "active" : string.Empty;
            var tabObjects = Model.TabIndex == "objects" ? "active" : string.Empty;
            if (result == "0")
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    Done.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            else if (result == "1")
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    @ViewData["ErrorMessage"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <ul id="tabs" class="nav">
                <li class="nav-item">
                    <a href="#basic" class="nav-link @tabSource" data-bs-toggle="tab">基本情報</a>
                </li>
                <li class="nav-item">
                    <a href="#objects" class="nav-link @tabObjects" data-bs-toggle="tab">オブジェクト情報</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="basic" class="tab-pane @tabSource">
                    <div class="container">
                        <div class="row">
                            <div class="col col-12">
                                @RenderSection("basic")
                            </div>
                        </div>
                    </div>
                </div>
                <div id="objects" class="tab-pane @tabObjects">
                    <div class="container">
                        <div class="row">
                            <div class="col col-12">
                                @RenderSection("objects")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            if (Model.Phase == 0)
            {
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#save">保存</button>
            }
            else if (Model.Phase == 1)
            {
                <button type="submit" class="btn btn-primary" asp-action="Commit">承認</button>
            }
            else if (Model.Phase == 2)
            {
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#publish">即時反映</button>
                <button type="submit" class="btn btn-secondary" asp-action="PublishData">データのみ反映</button>
            }
        }
        <!-- Modal -->
        <div class="modal fade" id="save" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="saveLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="saveLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" asp-action="Save">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="publish" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="publishLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="publishLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" asp-action="Publish">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(model => model.Yid)
    @Html.HiddenFor(model => model.Phase)
    @Html.HiddenFor(model => model.TabIndex)
    @Html.HiddenFor(model => model.ObjectTabIndex)
</form>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#tabs a').click(function () {
                $('#TabIndex').val($(this).attr('href').replace('#', ''));
                console.log($('#TabIndex').val());
            });
            $('#object-tabs a').click(function () {
                $('#ObjectTabIndex').val($(this).attr('href').replace('#', ''));
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
}
