@model Jbs.Yukari.Web.Models.IEditViewModel
@{
  Layout = "_Layout";
  ViewData["Title"] = Model.Name ?? "(新規作成)";
}
<form id="the-form" method="post">
  <div class="container pb-4">
    @{
      var result = ViewData["Result"]?.ToString();
      var action = ViewData["Action"]?.ToString();
      var tabSource = Model.TabIndex != "objects" ? "active" : string.Empty;
      var tabObjects = Model.TabIndex == "objects" ? "active" : string.Empty;
      if (result == "0")
      {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          @ViewData["Action"]しました。
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      }
      else if (result == "1")
      {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          @ViewData["ErrorMessage"]
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      }
      <ul id="tabs" class="nav">
        <li class="nav-item">
          <a href="#basic" class="nav-link @tabSource" data-bs-toggle="tab">基本情報</a>
        </li>
        <li class="nav-item">
          <a href="#objects" class="nav-link @tabObjects" data-bs-toggle="tab">オブジェクト情報</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="basic" class="tab-pane @tabSource">
          @RenderSection("basic")
          <div class="mb-2">
            <input type="radio" class="form-check-input" asp-for="Status" required value="0" />
            通常
            <input type="radio" class="form-check-input check-delete" asp-for="Status" required value="2" />
            削除
          </div>
        </div>
        <div id="objects" class="tab-pane @tabObjects">
          @RenderSection("objects")
        </div>
      </div>
      <div class="mb-2">
        <label class="form-label" asp-for="PublishDueDate"></label>
        <input class="form-control" asp-for="PublishDueDate" required type="date" style="width:10rem" />
      </div>
      <div class="pt-2">
        @if (Model.Phase == 0)
        {
          if (Model.Status != 2)
          {
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirm" data-action="CheckIn">チェックイン</button>
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#confirm" data-action="Save">一時保存</button>
          }
        }
        else if (Model.Phase == 1)
        {
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirm" data-action="CheckIn">チェックイン</button>
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#confirm" data-action="Save">一時保存</button>
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#confirm" data-action="Revert">一時保存を破棄</button>
        }
        else if (Model.Phase == 2)
        {
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirm" data-action="Publish">即時反映</button>
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#confirm" data-action="PublishData">データのみ反映</button>
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#confirm" data-action="CheckOut">チェックアウト</button>
        }
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#confirm" data-action="Cancel">キャンセル</button>
      </div>
    }
  </div>
  <!-- 確認モーダル -->
  <div class="modal fade" id="confirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="saveLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="saveLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
          <button id="ok-button" type="button" class="btn btn-primary">OK</button>
        </div>
      </div>
    </div>
  </div>
  @Html.HiddenFor(model => model.Id)
  @Html.HiddenFor(model => model.Type)
  @Html.HiddenFor(model => model.Phase)
  @Html.HiddenFor(model => model.TabIndex)
  @Html.HiddenFor(model => model.ObjectTabIndex)
</form>
@section Scripts {
  <script type="text/javascript">
    $(function () {
      $('#tabs a').click(function () {
        $('#TabIndex').val($(this).attr('href').replace('#', ''));
        console.log($('#TabIndex').val());
      });
      
      $('#object-tabs a').click(function () {
        $('#ObjectTabIndex').val($(this).attr('href').replace('#', ''));
      });

      // 確認モーダルのタイトルを各ボタンのテキストから取得して変更する。
      $('#confirm').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget);
        var action = button.text();
        var modal = $(this);
        modal.find('.modal-title').text(action + 'しますか ?');
        modal.data('action', button.data('action')); // モーダルにパラメーターを渡す。
      });

      // 確認モーダルの OK ボタンが押されたらフォームを送信する。
      $('#ok-button').click(function (event) {
        $('#confirm').modal('hide');
        var action = $('#confirm').data('action');
        if (action === 'Cancel') {
          window.close();
        }
        if ($('#the-form').get(0).checkValidity() === true) {
          var type = $('#Type').val();
          if (type == "jobmode")
          {
              type = "employmentStatus";
          }
          $('#the-form').get(0).action = `/${type}/${action}`;
          $('#the-form').submit();
        } else {
          $('#the-form').addClass('was-validated');
        }
      });

      // 反映待ちの場合要素を変更不可にする。
      @if (Model.Phase == 2)
      {
        @:$('#the-form input').attr('readonly', 'readonly');
        @:$('#the-form input[type="checkbox"]').attr('disabled', true);
        @:$('#the-form input[type="radio"]').attr('disabled', true);
        @:$('#the-form select').attr('disabled', true);
        @:$('.tab-content button').attr('disabled', true);
      }
    });
  </script>
  @await RenderSectionAsync("Scripts", required: false)
}
