@model IEnumerable<Jbs.Yukari.Core.Models.Group>
@{
  if (Model != null)
  {
    <div class="accordion" id="accordion-group">
      @foreach (var group in Model.Select((value, index) => new { value, index }))
      {
        <div class="accordion-item">
          @{
            var collapsed = "collapsed";
            var collapse = "false";
            var show = string.Empty;
            if (group.index == 0)
            {
              collapsed = string.Empty;
              collapse = "true";
              show = "show";
            }
          }
          <h2 class="accordion-header" id="@group.value.SamAccountName">
            <button class="accordion-button @collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@group.value.SamAccountName" aria-expanded="@collapse" aria-controls="collapse_@group.value.SamAccountName">
              [@group.value.Type] @group.value.SamAccountName
            </button>
          </h2>
          <div id="collapse_@group.value.SamAccountName" class="accordion-collapse collapse @show" aria-labelledby="@group.value.SamAccountName" data-bs-parent="#accordion-group">
            <div class="accordion-body">
              <div class="container">
                <div class="row">
                  <label class="col-sm-2 col-form-label" asp-for="@group.value.SamAccountName"></label>
                  <div class="col-sm-10">
                    <input class="form-control" name="Groups[@group.index].SamAccountName" asp-for="@group.value.SamAccountName" />
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-2 col-form-label" asp-for="@group.value.DisplayName"></label>
                  <div class="col-sm-10">
                    <input class="form-control" name="Groups[@group.index].DisplayName" asp-for="@group.value.DisplayName" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <input type="hidden" name="Groups[@group.index].TypeName" asp-for="@group.value.Type" />
      }
    </div>
  }
}
