@model Jbs.Yukari.Web.Models.HomeViewModel

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YUKARI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Jbs.Yukari.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-treeview-1.2.0/dist/bootstrap-treeview.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img id="logo" src="/images/logo.png" alt="YUKARI" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Index</a>
                        </li>
                    </ul>
                    <p class="nav navbar-text">Hello, @User.Identity?.Name!</p>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <form id="search-form" method="post">
            <div class="container">
                <div class="row">
                    <div class="col col-3">
                        <ul id="tabs" class="nav">
                            <li class="nav-item">
                                <a href="#tree-view" class="nav-link" data-bs-toggle="tab">ツリービュー</a>
                            </li>
                            <li class="nav-item">
                                <a href="#search" class="nav-link" data-bs-toggle="tab">検索</a>
                            </li>
                            <li class="nav-item">
                                <a href="#tasks" class="nav-link" data-bs-toggle="tab">タスク</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="tree-view" class="tab-pane active">
                                <div id="tree"></div>
                            </div>
                            <div id="search" class="tab-pane">
                                <div class="container">
                                    <div class="row">
                                        <div class="col col-3">
                                            種別
                                        </div>
                                        <div class="col col-9">
                                            <select asp-for="SearchCriteria.Type" class="form-select">
                                                <option value="">選択せず</option>
                                                <option value="person">個人</option>
                                                <option value="organization">組織</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-3">
                                            @Html.LabelFor(model => model.SearchCriteria.Id)
                                        </div>
                                        <div class="col col-9">
                                            @Html.EditorFor(model => model.SearchCriteria.Id, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-3">
                                            @Html.LabelFor(model => model.SearchCriteria.Name)
                                        </div>
                                        <div class="col col-9">
                                            @Html.EditorFor(model => model.SearchCriteria.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <input id="search-button" class="btn btn-primary" type="submit" value="検索" />
                                </div>
                            </div>
                            <div id="tasks" class="tab-pane">
                                <p>タスクのコンテンツ</p>
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.TreeJson)
                        @Html.HiddenFor(model => model.TabIndex)
                        @Html.HiddenFor(model => model.FirstPage)
                    </div>
                    <div class="col col-9">
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>
        </form>
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Jbs.Yukari.Web
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-treeview-1.2.0/dist/bootstrap-treeview.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript">
        $(function () {
            var data = '@Model.TreeJson';
            var tree = JSON.parse(data.replace(/&quot;/g, '"'));
            //console.log(tree);
            /*var tree = [
                {
                    text: "Parent 1",
                    nodes: [
                        {
                            text: "Child 1",
                            nodes: [
                                {
                                    text: "Grandchild 1"
                                },
                                {
                                    text: "Grandchild 2"
                                }
                            ]
                        },
                        {
                            text: "Child 2",
                        }
                    ]
                },
                {
                    text: "Parent 2"
                },
                {
                    text: "Parent 3"
                },
                {
                    text: "Parent 4"
                },
                {
                    text: "Parent 5"
                }
            ];*/
            $('#tree').treeview({
                data: tree,
                expandIcon: 'fa fa-plus',
                collapseIcon: 'fa fa-minus'
            });
            
            var tabName = $('#TabIndex').val() != '' ? $('#TabIndex').val() : 'tree-view';
            $('#tabs a[href="#' + tabName + '"]').tab('show');
            $('#FirstPage').val(false);
            $('#tabs a').click(function () {
                $('#TabIndex').val($(this).attr('href').replace('#', ''));
            });
            $('#search-button').click(function () {
                $('#FirstPage').val(true);
            });
        });
    </script>
</body>
</html>
