@model IEnumerable<Jbs.Yukari.Core.Models.User>
@{
    if (Model != null)
    {
        <div class="accordion" id="accordion-group">
            @foreach (var user in Model.Select((value, index) => new { value, index }))
            {
                <div class="accordion-item">
                    @{
                        var collapsed = "collapsed";
                        var collapse = "false";
                        var show = string.Empty;
                        if (user.index == 0)
                        {
                            collapsed = string.Empty;
                            collapse = "true";
                            show = "show";
                        }
                    }
                    <h2 class="accordion-header" id="@user.value.SamAccountName">
                        <button class="accordion-button @collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@user.value.SamAccountName" aria-expanded="@collapse" aria-controls="collapse_@user.value.SamAccountName">
                            [@user.value.TypeName] @user.value.SamAccountName
                        </button>
                    </h2>
                    <div id="collapse_@user.value.SamAccountName" class="accordion-collapse collapse @show" aria-labelledby="@user.value.SamAccountName" data-bs-parent="#accordion-group">
                        <div class="accordion-body">
                            <div class="container">
                                <div class="row">
                                    <label class="col-sm-2 col-form-label" asp-for="@user.value.SamAccountName"></label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="Groups[@user.index].SamAccountName" asp-for="@user.value.SamAccountName" />
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-2 col-form-label" asp-for="@user.value.DisplayName"></label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="Groups[@user.index].DisplayName" asp-for="@user.value.DisplayName" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" asp-for="@user.value.TypeName" />
            }
        </div>
    }
}
